body {
    font-family: Arial, sans-serif;
    background-color: #868383;
}

table {
    width: 70%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: rgb(239, 239, 239);
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: rgb(168, 168, 168);
}


tr:hover {
    background-color: #c2c2c2;
}