
.box-one {
    background-color: lightblue;
    border: 4px solid black;
    width: 75%;
    margin: 20px auto;
}

nav {
    text-align: center;
}

nav a:hover {
    color: rgb(12, 12, 12);
}

h1 {
    text-align: center;
    color: rgb(14, 9, 0);
    text-shadow: 2px 2px 4px rgb(170, 170, 170);
}

h2 {
    text-align: center;
    color: rgb(14, 9, 0);
    text-shadow: 1px 1px 2px rgb(170, 170, 170);
}

header {
    background-color: rgb(186, 143, 67);
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 35%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#pic {
    border: 2px solid black;
    border-radius: 10px;
    
}

figcaption {
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(170, 170, 170);
    line-height: 15px;
    
}

footer {
    clear: both;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 2rem;
}
