
.box-one {
    background-color: lightblue;
    border: 4px solid black;
    padding: 20px;
    margin: 30px;
    width: 300px;
}

.box-two {
    background-color: lightcoral;
    border: 0.5rem dashed darkred;
    padding: 2rem;
    margin: 4rem;
    width: 60%;
}
